<script src="https://giscus.app/client.js"
        data-repo="coolgogi/coolgogi.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkyNzU4NzE5ODE="
        data-category="General"
        data-category-id="DIC_kwDOEHF47c4CwBTE"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>
